body {
  margin: 0;
  padding: 0;
  font: 20px;
  font-family: 'Corporation Games', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.menu a {
  background: #cedbe9;
  background: -moz-linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
  background: -webkit-linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
  background: linear-gradient(to bottom, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 );
  color: #2300af;
  border: 1px solid #2300af;
  padding: 15px;
  display: block;
  transition: 0.25s all ease; }

.side {
  width: 150px;
  padding: 10px; }

.menu a:hover {
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
  padding: 15px 0px 15px  20px; }

.submenu {
  position: relative; }

.subsec {
  position: absolute;
  opacity: 0;
  left: 100%;
  width: 100%;
  top: -10000px; }

.submenu:hover .subsec {
  opacity: 1;
  top: 0;
  transition: 0.8s opacity; }

.submenu::after {
  content: " ";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent transparent transparent;
  top: 1em;
  right: 0; }

.submenu:hover::after {
  border-color: transparent transparent transparent #2300af;
  transition: 0.5s ease; }
